$primary-color: #007bff;
$hover-color: #0056b3;

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
.error {
  border: 1px solid red;
}
.header {
  height: 105px;
  background-color: #fff;
  box-shadow: 0 0 10px 4px #d7d7d7;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.container {
  padding: 0 15px;
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
}

.header-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 0 8px;

  .logo-link {
    padding: 0;

    .logo-oxit {
      width: 85px;
    }
  }
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin-right: 44px;
  position: relative;
  font-size: 14px;

  &:nth-last-child(2) {
    margin-right: 30px;
  }

  &:last-child {
    margin-right: 0;
  }

  .menu-link {
    position: relative;
    text-decoration: none;
    color: #666666;

    &:hover {
      color: #337ab7;
    }
  }
}

.menu-link-button {
  color: #ffffff;
  text-decoration: none;
}

.menu-item-button {
  background-color: #337ab7;
  padding: 12px 20px;
  border-radius: 26px;
}

.menu-burger-block {
  display: none;
}

.menu-burger {
  display: none;
}

/* CONTENT BLOCK */

.content-block {
  width: 100%;
  height: 800px;
  background-color: #f7f7f7;

  .content-flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    .left-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 800px;
      margin: 96px 30px 0 0;
      text-align: center;
      color: #333333;

      .left-block-title {
        font-size: 32px;
        margin: 0;
        font-weight: bold;
        letter-spacing: 0.35px;
      }
    }
  }

  .left-block-description {
    margin: 0;
    padding-top: 25px;
    font-size: 20px;
    line-height: 35px;
    width: 95%;
  }
}

.right-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  color: #333333;

  .form-input-text {
    width: 95%;
    height: 50px;
    margin: 2px 0 15px;
    padding: 0 10px;
    transition: box-shadow 0.3s ease-in-out;
    border: 1px solid #ccc;
  }

  .form-input-text:focus {
    border: 1px solid #3492fa;
    outline: none;
    box-shadow: 0 0 2px 1px #3492fa;
  }

  .registration-form {
    width: 100%;

    .form-title {
      font-size: 22px;
      margin-bottom: 12px;
      font-weight: bold;
      color: #333333;
    }

    .necessarily {
      color: #ce0808;
    }

    .form-button {
      padding: 15px 96px;
      color: #ffffff;
      background-color: #337ab7;
      border-radius: 26px;
      font-size: 14px;
      margin: 32px 0 0 100px;
      border: none;
      cursor: pointer;
    }

    .link {
      text-decoration: none;
      color: #007bff
    }
  }


}


/* ADAPTIVE */

@media (max-width: 1400px) {
  .container {
    max-width: 1170px;
  }
  .form-input-text {
    width: 95%;
    height: 50px;
    margin: 2px 0 15px;
    padding: 0 10px
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .form-input-text {
    width: 95%;
    height: 50px;
    margin: 2px 0 15px;
    padding: 0 10px
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .menu-item {
    margin-right: 20px;
    position: relative;
    font-size: 13px;

    &:nth-last-child(2) {
      margin-right: 14px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .menu-item-button {
    padding: 12px 20px;
    border-radius: 26px;
    font-size: 13px;
  }

  .content-block {
    margin-top: 0;
    height: 1350px;

    .content-flex-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .left-block {
        width: 100%;
        height: 100%;
        margin: 140px 0 50px;
      }

      .left-block-title {
        font-size: 38px;
        margin: 0;
      }

      .left-block-description {
        width: 100%;
      }

      .right-block {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;

        .registration-form {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          width: 95%;

          .form-title {
            font-size: 28px;
          }

          .form-button {
            margin: 32px 0 0 0;

          }

          .form {
            width: 100%;
            align-items: center;

            .form-input-text {
              width: 97%;
            }
          }
        }
      }
    }
  }

}

@media (max-width: 768px) {
  .container {
    max-width: 538px;
  }

  .header {
    height: 60px;
    z-index: 999;

    & .active {
      box-shadow: none;
    }
  }

  .header-flex-container {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0;
    z-index: 999;

    .logo-block {
      padding-top: 4px;
      z-index: 4;

      .logo-oxit {
        width: 50px;
      }
    }
  }

  .header-menu {
    position: fixed;
    top: -150%;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: #ffffff;
    color: #666666;
    z-index: 1;

    &.active {
      top: 0;
      box-shadow: 0 0 10px 4px #d7d7d7;
    }
  }
  .burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3883c4;
    padding: 2px 2px;
    height: 24px;
    width: 37px;
    border-radius: 3px;
    z-index: 99;
  }

  .menu-burger-block {
    display: block;
    position: relative;
    width: 14px;
    height: 8px;
    padding: 2px 2px;
    z-index: 4;

    & span {
      position: absolute;
      background-color: #ffffff;
      left: 0;
      width: 100%;
      height: 2px;
      top: 5px;
      transition: all 0.3s ease 0s;
    }

    &.active {
      &::before {
        transform: rotate(45deg);
        top: 5px;
      }

      &::after {
        transform: rotate(-45deg);
        bottom: 5px;
      }

      span {
        transform: scale(0);
      }
    }

    &::before,
    &::after {
      content: "";
      background-color: #ffffff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    li {
      margin: 28px 0 0 0;
      font-size: 18px;

      &:last-child {
        margin: 20px 0 0 0;
      }
    }
  }

  .content-block {
    margin-top: 0;

    .content-flex-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .left-block {
        width: 100%;
        margin-top: 90px;

        .left-block-title {
          font-size: 34px;
          margin: 0;
        }

        .left-block-description {
          width: 95%;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 280px;
  }

  .content-block {
    width: 100%;

    .content-flex-container {
      width: 100%;
      align-items: center;
      justify-content: center;

      .left-block {
        width: 100%;
        margin-top: 90px;

        .left-block-title {
          font-size: 25px;
          margin: 0;
        }

        .left-block-description {
          width: 100%;
          font-size: 15px;
          padding: 14px 0 0 0;
        }
      }

      .right-block {
        width: 100%;
        align-items: center;
        justify-content: center;

        .registration-form {
          width: 100%;
          align-items: center;

          .form-title {
            font-size: 20px;
            margin-bottom: 12px;
          }

          .form {
            width: 100%;

            .form-input-text {
              width: 92%;
            }
          }

          .form-button {
            padding: 20px 45px;
          }
        }
      }
    }
  }
}
