.slider-responses .sliders .slider-block .response-item .response-text, body {
  padding: 0;
  margin: 0;
}

.slider-responses {
  padding: 80px 0 70px;
}
.slider-responses .sliders {
  width: 85%;
  margin: 0 auto;
}
.slider-responses .sliders .slider-block .name-student {
  font-size: 18px;
  font-weight: bold;
  color: #1e1e1e;
  letter-spacing: 0.35px;
  text-align: center;
  margin: 15px 0 0;
}
.slider-responses .sliders .slider-block .student-prof {
  font-style: italic;
  text-align: center;
  margin: 5px 0 110px;
}
.slider-responses .sliders .slider-block .response-item {
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.slider-responses .sliders .slider-block .response-item .quote1 {
  font-size: 85px;
  font-weight: normal;
  color: rgba(54, 54, 54, 0.42);
  letter-spacing: 0.35px;
  align-self: flex-end;
  order: 1;
  margin: 1px 10px 95px 0;
}
.slider-responses .sliders .slider-block .response-item .response-text {
  order: 2;
  flex-grow: 1;
  text-align: center;
  font-size: 22px;
  line-height: 35px;
}
.slider-responses .sliders .slider-block .response-item .quote2 {
  align-self: flex-start;
  order: 3;
  margin: 110px 0 0 10px;
  font-size: 85px;
  font-weight: normal;
  color: rgba(54, 54, 54, 0.42);
  letter-spacing: 0.35px;
}
.slider-responses .slider-response-title {
  font-size: 34px;
  font-weight: bold;
  color: rgba(44, 44, 44, 0.91);
  letter-spacing: 0.35px;
  text-align: center;
  letter-spacing: 1px;
  margin: 0;
}
.slider-responses .slick-dots {
  position: absolute;
  left: 47%;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 8px 0 0;
}
.slider-responses .slick-dots li {
  font-size: 0;
}
.slider-responses .slick-dots button {
  background-color: #AEAEAE;
  color: #fff;
  font-size: 0;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: none;
  width: 12px;
  height: 12px;
  border: none;
  margin: 0 4px;
}
.slider-responses .slick-active button {
  background: #666666;
}
.slider-responses .slick-prev {
  display: none;
}
.slider-responses .slick-next {
  display: none;
}

@media (max-width: 1200px) {
  .response-item {
    height: 220px;
  }
}
@media (max-width: 992px) {
  .slider-responses {
    padding: 40px 0 50px;
  }
  .slider-responses .slider-response-title {
    font-size: 28px;
  }
  .slider-responses .sliders {
    width: 85%;
    margin: 0 auto;
  }
  .slider-responses .sliders .slider-block .response-item {
    height: 250px;
  }
  .slider-responses .sliders .slider-block .response-item .quote1 {
    font-size: 65px;
    margin: 1px 7px 170px 0;
  }
  .slider-responses .sliders .slider-block .response-item .response-text {
    font-size: 20px;
  }
  .slider-responses .sliders .slider-block .response-item .quote2 {
    font-size: 65px;
    margin: 170px 7px 1px 0;
  }
  .slider-responses .slick-dots {
    left: 45%;
  }
}
@media (max-width: 768px) {
  .slider-responses {
    padding: 40px 0 50px;
  }
  .slider-responses .slider-response-title {
    font-size: 30px;
  }
  .slider-responses .sliders {
    width: 95%;
    margin: 0 auto;
  }
  .slider-responses .sliders .slider-block .response-item {
    height: 310px;
  }
  .slider-responses .sliders .slider-block .response-item .quote1 {
    font-size: 65px;
    margin: 1px 7px 220px 0;
  }
  .slider-responses .sliders .slider-block .response-item .response-text {
    font-size: 20px;
  }
  .slider-responses .sliders .slider-block .response-item .quote2 {
    font-size: 65px;
    margin: 250px 7px 1px 0;
  }
  .slider-responses .slick-dots {
    left: 44%;
  }
}
@media (max-width: 576px) {
  .slider-responses .slider-response-title {
    font-size: 25px;
  }
  .slider-responses .sliders {
    width: 100%;
    margin: 0 auto;
  }
  .slider-responses .sliders .slider-block .response-item {
    height: 280px;
  }
  .slider-responses .sliders .slider-block .response-item .quote1 {
    font-size: 30px;
    margin: 1px 7px 230px 0;
  }
  .slider-responses .sliders .slider-block .response-item .response-text {
    font-size: 15px;
    line-height: 22px;
  }
  .slider-responses .sliders .slider-block .response-item .quote2 {
    font-size: 30px;
    margin: 250px 7px 1px 0;
  }
  .slider-responses .slick-dots {
    left: 39%;
  }
}
/*# sourceMappingURL=slider-responses.css.map */
