@import "../../common/_mixins";

@media (max-width: 1200px) {
  .response-item {
    @include height-value(220px);
  }
}

@media (max-width: 992px) {
  .slider-responses {
    padding: 40px 0 50px;

    .slider-response-title {
      font-size: 28px;
    }

    .sliders {
      @include width-value(85%);
      margin: 0 auto;

      .slider-block {

        .response-item {
          @include height-value(250px);


          .quote1 {
            font-size: 65px;
            margin: 1px 7px 170px 0;
          }

          .response-text {
            font-size: 20px;
          }

          .quote2 {
            font-size: 65px;
            margin: 170px 7px 1px 0;
          }
        }
      }
    }

    .slick-dots {
      left: 45%;
    }
  }
}

@media (max-width: 768px) {
  .slider-responses {
    padding: 40px 0 50px;

    .slider-response-title {
      font-size: 30px;
    }

    .sliders {
      @include width-value(95%);
      margin: 0 auto;

      .slider-block {

        .response-item {
          @include height-value(310px);


          .quote1 {
            font-size: 65px;
            margin: 1px 7px 220px 0;
          }

          .response-text {
            font-size: 20px;
          }

          .quote2 {
            font-size: 65px;
            margin: 250px 7px 1px 0;
          }
        }
      }
    }

    .slick-dots {
      left: 44%;
    }
  }
}

@media (max-width: 576px) {
  .slider-responses {
    .slider-response-title {
      font-size: 25px;
    }

    .sliders {
      @include width-value(100%);
      margin: 0 auto;

      .slider-block {

        .response-item {
          @include height-value(280px);


          .quote1 {
            font-size: 30px;
            margin: 1px 7px 230px 0;
          }

          .response-text {
            font-size: 15px;
            line-height: 22px;
          }

          .quote2 {
            font-size: 30px;
            margin: 250px 7px 1px 0;
          }
        }
      }
    }

    .slick-dots {
      left: 39%;
    }
  }
}