//COLORS BACKGROUND
$button-background-color: #337ab7;
$background-white: #ffff;
$background-grey: #F7F7F7;
$background-blue: #3498DB;
//TEXT
$title-font-size: 34px;
$text-color: #666666;
$title-primary-color: rgba(44, 44, 44, 0.91);
$text-color-white: #ffff;
$hover-color: #337ab7;
//GENERAL
$content-width: 1220px;
$font-family: 'OpenSans', sans-serif;
$box-shadow-color: #d7d7d7;

